<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus laudantium
    fugit dolorem ut earum sunt maiores sint nihil libero veritatis. A,
    accusantium excepturi. Temporibus dolorum blanditiis molestias eaque. Fugit,
    vitae!
  </body>
</html>
